:root {
    --cor-clara: #fdf9ec;
    --cor-media: #c89a78;
    --cor-escura: #965835;    
}
body{
    background-color: var(--cor-clara);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: var(--cor-escura), 0.3;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 50px;
    color: var(--cor-escura);
    border: var(--cor-escura);
    font-family: 'Tapestry', cursive;
    font-size: 26px;
}

.botoes {
    margin-right: 10px;
}

#btn-login {
    height: 40px;
    text-align: center;
    border: none;
    background-color: var(--cor-clara);
    cursor: pointer;
    padding-right: 10px;
}

#btn-login:hover {
    color: #c8997886;
}

#btn-signup {
    height: 40px;
    border-radius:  8px;
    border-color: var(--cor-escura);
    padding: 10px;
    background-color: var(--cor-clara);
    cursor: pointer;
    outline-style: none;
}

#btn-signup:hover {
    transition: .3s;
    background-color: #c8997886;
}

.barraPesquisa {
    border: 1px solid var(--cor-escura);
    border-radius: 8px;
    width: 500px;
    height: 40px;
    box-sizing: border-box;
    box-shadow: var(--cor-media) 0px 1px 2px 0px;
    display: flex;
    padding-left: 10px;
    outline-style: none;
}
input[type=text]:focus {
    border: 2px solid var(--cor-media);
    margin: none;
    padding: none;
  }
::-webkit-input-placeholder {
    color: #c89a78;
}

.areaBusca {
    display: flex;
}

.botaoPesquisa {
    width: 50px;
    height: 44px;
    font-size: 22px;
    color: var(--cor-escura);
    background: none;
    border: none;
    align-items: center;
    position: absolute;
    right: 380px;
    cursor: pointer; 
}

.bannerConteudo {
    font-size: 28px;
    color: var(--cor-escura);
    width: 700px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin-left: 45px;
    margin-bottom: 8px;
    text-align: inherit;
}

.bannerConteudo h2 {
    margin-bottom: 0;
}

.bannerLegenda {
    font-size: 16px;
    color: var(--cor-media);
    font-weight: 100;
    letter-spacing: -0.4px;
    margin-bottom: 24px;
    text-align: inherit;
    max-height: 75px;
    overflow: hidden;
    line-height: 1.5;
}

.bannerImagens {
    display: flex;    
}

.muralEvento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    max-width: 1176px;
    padding: 0px;
    min-height: 210px;    
}

.cartaoEvento {
    max-width: 262px;
    border-radius: 8px;
    padding: 0px;
}

a {
    cursor: pointer;
}

.cartaoEvento:hover {
    box-shadow: 3px 3px 15px #965835;
    transition: .5s;
}

.capaEvento {
    margin: 0px;
    padding: 0px;
    border-radius: 8px 8px 0px 0px;
}

.dataEvento {
    font-weight: 500;
    color: #c89a78;
    padding-left: 4px;
}

.tituloEvento h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-escura);
    width: 262px;
    margin: 0;
    padding-left: 4px;    
}

.localEvento {    
    margin-top: 0px;
    padding-left: 4px;
}


